<div class="Steering">
<button class="ButtonFullWidth" phx-click="forward">Forward</button>
<div class="LeftRight">
  <button phx-click="left">Left</button>
  <button phx-click="right">Right</button>
</div>
<button class="ButtonFullWidth" phx-click="backward">Backward</button>
</div>


<div class="Movement">
  <%= assigns[:movement] %>
</div>
